*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.90)), url(images/neon.png);
    background-size: cover;
    background-position: center;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #D0002D;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-240px);
    text-align: center;
    color: #FFFFFF;

}

.content h1 {
    font-size: 50px;
    margin-top: 100px;

}
.data{
    border: 4px solid #FFBF00;
    margin: auto;
    margin-top: 5px;
    width: 50%;
    padding: 25px;
    font-size: 12px;
}
#btnData{
    margin-top: 15px;
}


