
.banner {
    background-image: url(images/night.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    margin: 0;
    font-size: 25px;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;

}

.content h1 {
    font-size: 80px;
   margin-bottom: 20%;
}

.content p {
    font-size: 20px;
    margin-top: 15px;
}

.content button {
    font-size: 20px;
    margin-top: 15px;
}

input {
    font-size: 20px;
    width: 15%;
    margin-bottom: 15px;

}
.navbar {
        margin: 0;
        font-size: 25px;
        background-color: #333333;
        font-family: 'Roboto', sans-serif;
        width: auto;
        min-width: 500px;
        text-align: center;
        padding-bottom: 10px;
    }


