*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    background-image: url(images/night.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #d0002d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}

/*--- Navigation bar light up on click---*/
.navbar ul li a:hover:active{
    color: #D0002D;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
}

.content h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    margin-top: 15px;
}

.content button {
    font-size: 20px;
    margin-top: 15px;
}

.slidecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}
.slider {
    margin: 0 10px;
}


input {
    font-size: 12px;
    width: 15%;
    margin-bottom: 10px;

}

button {
    width: 15%;
    margin-bottom: 10px;
    font-size: 12px;
}

.id {
    font-size: 12px;
    margin-top: 15px;
}

label {
    font-size: 12px;
    margin-right: 30px;
}

#labelepost{
    margin-right: 33px;
}

#btnLagre {
    font-size: 12px;
}

pre {
    display: none;
}

.left{
    display: inline-block;
    width: 150px;
    text-align: left;
}

.right{
    display: inline-block;
    width: 150px;
    text-align: right;
}


