*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    background-image: url(images/night.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;


}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0075fe;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;

}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;

}

.content h1 {
    font-size: 80px;
    margin-top: 50px;
}

.content p {
    font-size: 20px;
    margin-top: 15px;
}

.content button {
    font-size: 20px;
    margin-top: 15px;
}

.slider {
    width: 25%;

}

input {
    font-size: 20px;
    width: 10%;
}


